.products__page {
  padding: 100px 0;
  width: 100%;
}

.products__searchbar {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.products__searchbar-elements {
  width: 100%;
  background-color: #c3c3c313;
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  border-bottom: 1px solid #00000036;
}

.products__searchbar-title {
  font-size: 36px;
  font-family: "Geist", Arial, Hel vetica, sans-serif;
}

.products__searchbar-subtitle {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.5;
}

.products__searchbar-elements-label {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.products__searchbar-elements-input {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 10px 10px 45px;
  border-radius: 5px;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.1);
  transition: border-color 0.5s ease;
}

.products__searchbar-elements-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.products__searchbar-elements-buttons {
  display: flex;
  position: relative;
  width: 100%;
  gap: 20px;
}
.products__searchbar-elements-button {
  padding: 18px 20px;
  background: none;
  cursor: pointer;
  border: 1px solid #0000004e;
  border-radius: 8px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.products__searchbar-elements-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #0000004e;
  border-radius: 8px;
  padding: 10px 20px;
  position: absolute;
  opacity: 0;
  top: 65px;
  transform: translateY(50%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 1000;
}

.products__searchbar-cards {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__searchbar-elements-list-item {
  display: flex;
  position: relative;
  align-items: center;
}

.products__searchbar-elements-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.list-open {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 760px) {
  .products__searchbar-elements {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .products__searchbar-elements-label {
    max-width: 100%;
  }

  .products__searchbar-elements-buttons {
    flex-direction: column;
    width: 100%;
  }
  .products__searchbar-elements-button {
    width: 100%;
    justify-content: center;
  }
}
